<div class="container mx-auto p-4">
  <div class="d-flex justify-content-center align-items-center mb-4">
    <h2 class="text-center fw-light">Add Grocery</h2>
  </div>
  <form (ngSubmit)="addItem()">
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Enter a new item*"
        [(ngModel)]="newItem"
        name="newItem"
        required
      />
      <button
        class="btn btn-primary"
        type="submit"
        title="Add Grocery"
      >
        <i class="bi bi-plus-square p-1"></i>
      </button>
    </div>
  </form>
  <ul class="list-group">
    <li *ngFor="let item of items" class="list-group-item d-flex justify-content-between align-items-center py-3">
      <input
        type="checkbox"
        class="form-check-input me-2"
        [checked]="item.completed"
        (change)="toggleCompletion(item)"
        title="Mark as Completed"
      />
      <span *ngIf="editingItem !== item" [ngClass]="{ 'text-decoration-line-through': item.completed }">
        {{ item.title }}
      </span>
      <input
        *ngIf="editingItem === item"
        type="text"
        [(ngModel)]="editedTitle"
        class="form-control me-2"
      />
      <div class="ms-auto d-flex align-items-center">
        <button
          *ngIf="editingItem !== item"
          class="btn btn-outline-secondary btn-sm me-2"
          (click)="startEditing(item)"
          title="Edit"
        >
          <i class="bi bi-pencil-square p-1"></i>
        </button>
        <button
          *ngIf="editingItem === item"
          class="btn btn-sm btn-success me-2"
          (click)="saveEdit(item)"
          title="Save"
        >
          <i class="bi bi-floppy p-1 "></i>
        </button>
        <button
          *ngIf="editingItem === item"
          class="btn btn-sm btn-danger me-2"
          (click)="cancelEdit()"
          title="Cancel"
        >
          <i class="bi bi-x-square p-1"></i>
        </button>
        <button
          *ngIf="editingItem !== item"
          class="btn btn-outline-danger btn-sm"
          title="Delete"
        >
          <i class="bi bi-trash3 p-1"></i>
        </button>
      </div>
    </li>
  </ul>
</div>
