  <div class="container mx-auto p-4">
    <div class="col-sm">
      <ul class="list-group">
        <li class="list-group-item text-center clearfix">
          <button type="button" class="btn btn-sm btn-success float-start">
            <i class="bi bi-square"></i>
          </button>
          <span style="font-weight:bold"> Item 1</span>
          <button type="button" class="btn btn-sm btn-outline-dark float-end">
            <i class="bi bi-pencil"></i>
          </button>
        </li>
        <li class="list-group-item text-center clearfix">
          <button type="button" class="btn btn-sm btn-success float-start">
            <i class="bi bi-square"></i>
          </button>
          <span style="font-weight:bold"> Item 2</span>
          <button type="button" class="btn btn-sm btn-outline-dark float-end">
            <i class="bi bi-pencil"></i>
          </button>
        </li>
        <li class="list-group-item text-center clearfix">
          <button type="button" class="btn btn-sm btn-success float-start">
            <i class="bi bi-square"></i>
          </button>
          <span style="font-weight:bold"> Item 3</span>
          <button type="button" class="btn btn-sm btn-outline-dark float-end">
            <i class="bi bi-pencil"></i>
          </button>
        </li>
      </ul>
    </div>
  </div>
<!--  <app-input-item></app-input-item>-->
<router-outlet />
